.container{
    display: flex;
    justify-content: space-between;
}

.content{
    padding: 15rem 80px;
    text-align: left;
}

.content h1{
    font-size: 80px;
    font-weight: bolder;
}

.content button{
    background-color: #000;
    border: none;
    color: #fff;
    padding: 16px 20px;
    border-radius: 10px;
    margin-top: 40px;
}

.image{
    width: 200px;
}